fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
langchain-voyageai
langchain-ollama
voyageai
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
pydantic
pydantic-settings
opik
deepeval
sentence-transformers<4
numpy<2.0.0
pymongo
python-dotenv
loguru
motor
pypdf
chromadb
cohere
rich
tqdm
qdrant-client
datasketch
certifi
sentry-sdk
PyJWT
cryptography
sqlalchemy
asyncpg
httpx
